1. Design a calculator:
- the calculator once starts, cannot stop unless the user chooses
- implement all numerical operators that we discussed
- the user has to rpovide the numbers and desired operator from the keyboard; then, the calculator will display the result
- numbers: int or float, operator: str
- the calculator stops if the user enters the word "break" instead of an operater; it skips an iteration if the user gives an operator that is not numerical (e.g. a boolean one)

In [ ]:
while True:
  number1 = int(input("Type the first number"))
  operator = input("Type an operator (+, -, /, //, %, **) or type 'break' to end")
  number2 = int(input("Type the second number"))
  if operator == '+':
    result = number1 + number2
    print(result)
  elif operator == '-':
    result = number1 - number2
    print(result)
    print(f'{number1} = ')
  elif operator == '/':
    result = number1/number2
    print(result)
  elif operator == '//':
    result = number1 // number2
    print(result)
  elif operator == '%':
    result = number1 % number2
    print(result)
  elif operator == '**':
    result = number1 ** number2
    print(result)
  elif operator == 'break':
    break
  else: continue

9

2. Populating a Dictionary with Two Variables (variable 1: integers 1-12, variable 2: month names)

In [ ]:
months = {}

numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
names = ["Jan", 'Feb', "Mar", "Apr", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"]

for num in numbers:
  months[num] = names[num-1]
print(months)

3. Date Program (given a date as a string input, extract the day, month, year)

In [ ]:
date = input('Enter your birthday here (MM/DD/YYYY)')
month = int(date[0:2])
day = int(date[3:5])
year = int(date[6:])
print(f' year = {year}, month =  {month}, day =  {day}')

Enter your birthday here (MM/DD/YYYY)12/17/2002
 year = 2002, month =  12, day =  17

4. Deposit with Interest Rates

In [ ]:
from inspect import isroutine
deposit = float(input('Enter desposit amount: '))
customer_type = input('Enter customer type (n: new, e: existing)')

if customer_type == 'n':
  ir = 3.0
else:
  if deposit > 10000:
    ir = 3.5
  elif deposit > 10000:
    ir = 3.25
  else:
    ir = 3.0

total = (1 + ir/100)*deposit
print(f'Deposit at the end of the year: {total}')

5. List Creator (populating a list using a while loop)

In [ ]:
 L = []
while(True):
  number = int(input('Enter a Value: '))
  if (number != 0):
    L.append(number)
    print(L)
  else:
    break
L

Enter a Value: 2
[2]
Enter a Value: 0

[2]

6. Rock-Paper-Scissors

In [ ]:
import random
user_choice1 = input("Do you want to play the game? Type Yes or No: ")
while user_choice1 == 'Yes':
  user_choice1 = input
  pc_choice = random.choice(['rock', 'paper', 'scissors'])
  user_choice2 = input("Type either 'rock', 'paper', 'scissors' here: ")
  print(f'PC picked' + pc_choice)
  if(pc_choice == user_choice2):
    print('tie')
  elif((pc_choice == 'paper' and user_choice2 == 'scissors') or
       (pc_choice == 'scissors' and user_choice2 == 'rock') or
       (pc_choice == 'rock' and user_choice2 == 'paper')):
       print('you win!')
  else:
    print('you lose!')
  user_choice1 = input("Do you want to continue playing? Type Yes or No: ")

7. Leap Year calculation

In [ ]:
year = int(input('Enter your year here:'))

if year%4 == 0:
  print('This year is a leap year')
else:
  print('This is not a leap year')

Enter your year here:2005
This is not a leap year

8. Parking Garage Problem

In [ ]:
base_fee = 5
hour_fee = 2.5
for hour in range(8):
  price = (hour+1)*hour_fee + base_fee
  if price < 10:
    print(f'{hour+1} 10.0')
  elif price > 20:
    print(f'{hour+1} 20.0')
  else:
    print(f'{hour + 1} {price}')

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

9. Movie Theater Problem

In [ ]:
ticket_price = 10
fixed_cost = 200
base_attendees = 20
for ad_cost in range (0,201,25):
  attendees = base_attendees + 2*round(ad_cost**.5)
  profit =(ticket_price*attendees - fixed_cost - ad_cost)
  print(f'{ad_cost} {profit}')

10. Mortgage Problem

In [ ]:
# Fixed rate monthly mortgage
  # properties:
    # initiatal loan amount($)
    # term to maturity (years)
    # fixed annual interest rate (%)
  # specific example: $100,0000 30 years 6%
    # initial amount B, term n (in months), interest rate r (in decimal)
    # M = B[r(1+r)^n]/[(1+r)^n-1].  (B: initial amount, n: maturity*12, r: interest/100)

class mortgage:
  def __init__(self, amount, maturity, interest):
    self.amount = amount
    self.maturity = maturity
    self.__interest = interest

  def __str__(self):
    return f'Mortgage info:\n Initial loan amount: ${self.amount}\n Maturity term: {self.maturity} years \n Interest rate: {self.__interest}%'

  def get_interest(self):
    return self.__interest

  def set_interest(self, newInterest):
    if newInterest >=0:
     self.__interest = newInterest
    else:
      print('Interest must be non-negative')

  def payment(self):
    B = self.amount
    n = self.maturity*12
    r = self.__interest/100

    return B * (r*(1+r)**n) / ((1+r)** n-1)

In [ ]:
m = mortgage(100000, 30 ,6)
print(m)
m.payment()

Mortgage info:
 Initial loan amount: $100000
 Maturity term: 30 years
 Interest rate: 6%

6000.000004656286

11. 3D Point Problem

In [ ]:
class Point:
  def __init__(self, x, y,):
    self.x = x
    self.y = y
  def distance(self, other):
    x_diff = (self.x - other.x)**2
    y_diff = (self.y - other.y)**2
    return (x_diff + y_diff)**.5

class point3D(Point):
    def __init__(self, x, y, z):
      super(). __init__(x,y)
      self.z = z
    def distance(self, other):
      x_diff = (self.x - other.x)**2
      y_diff = (self.y - other.y)**2
      z_diff = (self.z - other.z)**2
      return(x_diff + y_diff + z_diff)**.5


p1 = Point(3,4)
p2 = Point(6,8)
print(p1.distance(p2))

p3d1= point3D(3,4,5)
p3d2 = point3D(6,8,10)
print(p3d1.distance(p3d2))

5.0
7.0710678118654755

Other

In [ ]:
def fill():
  l = []
  for i in range(10):
    l.append(i)
    if i%2 == 0:
      l.pop()
  print(1)

fill()

1

In [ ]:
def greeting(n):
  print(f'Hello {n}!')

name = input('Enter a name:')
greeting(name)

Enter a name:Alice
Hello Alice!

In [ ]:
def add_num(a, b=5):
 return  a + b


x = 5
y = 6
c = add_num(x, b=y)
print(c)

11

In [ ]:
s1 = 'abcdefg'
s2 = 'abdght'

for char in s1:
  if char in s2:
    print(char)

a
b
d
g

In [ ]:
s1 = 'abcdefg'
s2 = 'abdght'

for index in range(len(s1)):
  if s1[index] in s2:
    print(s1[index])

a
b
d
g

In [ ]:
def fibR(n):
  if n == 0 or n == 1:
    return 1
  else:
    return fibR(n-1)  + fibR(n-2)

for i in range(8):
  print(fibR(i), end = " ")

1 1 2 3 5 8 13 21

In [ ]:
def factorial(n):
  if n ==1:
    return 1
  else:
    return (n * factorial(n-1))

factorial(8)

40320

In [ ]:
def factR(n):
  if n == 1:
    return 1
  else:
    return n * factR(n-1)

In [ ]:
def fact(n):
  p = 1
  while n >= 1:
    p = p * n
    n = n - 1
  return p

In [ ]:
def mirrorString(s):
  if len(s)== 1:
    return(s)
  else:
    return s[-1] + mirrorString(s[:-1])

mirrorString("float")

'taolf'

In [ ]:
def quickSort(alist):
  if len(alist) < 2:
    return alist
  else:
    less, equal, larger = [], [], []

    pivotIndex = len(alist) // 2

    for item in alist:
      if item < alist[pivotIndex]:
        less.append(item)
      elif item == alist[pivotIndex]:
        equal.append(item)
      else:
        larger.append(item)

    return quickSort(less) + equal + quickSort(larger)

quickSort([8,2,5,3,6,1])

[1, 2, 3, 5, 6, 8]

In [ ]:
a = 2
b = 3

a/b

0.6666666666666666

In [ ]:
try:
  a = float(input('Enter a numerator: '))
  b = float(input('Enter a denominator: '))
  print(a/b)
  print('Division is complete')
except ZeroDivisionError:
  print('Division by zero is not allowed')
except ValueError:
  print('The string input cannot be casted as a float')
except TypeError:
  pint('Invalid Input')
except:
  print('Unkown error')

print('Program ends')

In [ ]:
1 = [1,2,3,4,5]

try:
  idx = float(input('Enter Index:'))
  print(1[idx])
except IndexError:
  print('Index given out of bounds')
except TypeError:
  print('Index must be integer')

In [ ]:
class Car:
  def __init__(self, make, model, year):
    self.make = make
    self.model = model
    self.year = year
    self.utility = 'HUV'

  def get_model()

  def accelerate(self):
    print('the car accelerates')

  def decelerate(self):
    print('The car decelerates')

In [ ]:
c = Car('Ford', 150, 2023)
d = Car('Chrysler', 300, 2020)

In [ ]:
c.accelerate()

the car accelerates

In [ ]:
def avg(aList):
  try:
    return sum(aList) / len(aList)
  except TypeError:
    print('Put only numbers in the list!')
    return float('nan')
  except ZeroDivisionError:
    print('List must have more than one value!')
    return[]
  except:
    print('Unkonwn error')

print(avg(['a,1,2']))
print(avg([]))
avg([1,2,3,4,5])

Put only numbers in the list!
nan
List must have more than one value!
[]

3.0

In [ ]:
l = [1,3,5,7,9]

try:
  idx = int(input('Enter index:'))
  print(l[idx])
except IndexError:
  print('Index value must be out of bounds!')
except ValueError:
  print('Indexes must be integers!')
else:
  print('Item found!')
finally:
  print('This will be displayed as always')

Enter index:3
7
Item found!
This will be displayed as always

In [ ]:
class car:
  def __init__(self, make, model, year):
    self.make = make
    self.model = model
    self.year = year
    self.utility = 'SUV'

def accelerate(self):
  print(f'The {self.make} accelerates')

c = car('Ford', 150, '2023')
d = car('Chrysler', 300, '2020')

In [ ]:
m = mortgage(100000, 30, 6)

In [ ]:
print(m)

Mortgage info:
 Initial loan amount: $100000
 Maturity term: 30 years
 Interest rate: 6%

In [ ]:
m.payment()

6000.000004656286

In [ ]:
class A:
  def __init__(self,obj):
    self.obj = obj

  def whoAmI(self):
    print('I am an instance of class A')

    def __repr__(self):
      return f'attribute value: {self.obj}'

    def __add__(self, other):
      return self.obj + other.obj

class B:
  def __init__(self, obj):
    self.obj = obj

  def whoAmI(self):
    print('I am an insurance of class B')

a1 = A(2)
a2 = A(5)
b = B(3)

Class point

In [ ]:
class Animal:
  def __init__(self,legs):
    print('Animal created')
    self.legs = legs
  def whoAmI(self):
    print('I am an animal')

class Bird(Animal):
  def __init__(self,legs,wings):
    super(). __init__(legs)
    self.wings = wings
    print('Bird created')
  def fly(self):
    print('Birds can fly')

a = Animal(4)
b = Bird(2, 2)

Animal created
Animal created
Bird created